*~
__pycache__
.python-version
data/segmented_texts
.vscode/
*.sqlite3
.idea
.cache
client/data/
/data
/server/nextdata/
.DS_Store
/client/node_modules/
package-lock.json
client/build/
/client/localization/pootle/prePootleFiles/
/client/localization/pootle/generatedPoFiles/
/client/localization/preprocessedStaticTemplates/
generatedPoFiles/
