version: '3'

services:

  sc-flask:
    volumes:
      - ./server/:/opt/sc/sc-flask
      - ./client/:/opt/sc/frontend
    env_file:
      - server/env/.test.env
    command: bash docker/entrypoint.test.sh

  sc-nginx:
    volumes:
      - ./client/:/opt/sc/static
    command: bash entry-point.test.sh

  sc-arangodb:
    env_file:
      - server/env/.test.env

  sc-frontend:
    command: npm run build
