.add {color: green;border:1px solid #ccc;}
cr{background: orange;}
.supplied{color: red}
.pts-vp-en{background: #ddd;}
.pts-cs{background: yellow;}
span.sutta, div.sutta{color: blue;}
body{line-height: 1.5;font-family: "Source Sans Pro";}
