[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
"beautifulsoup4" = "*"
flask-restful = "*"
uwsgi = "*"
flask-script = "*"
pytest = "*"
pytest-flask = "*"
python-arango = "*"
flasgger = "*"
flask-cors = "*"
decorator = "*"
regex = "*"
lxml = "*"
cssselect = "*"
gitpython = "*"
sphinx = "*"
faker = "*"
langid = "*"
colorama = "*"
elasticsearch = "*"
polib = "*"
tqdm = "*"
pytest-sugar = "*"
stripe = "*"
sortedcontainers = "*"
requests = "*"


[dev-packages]

ptpython = "*"
ipython = "*"
