decorator==4.3.0
EbookLib==0.17.1
elasticsearch==6.3.1
Faker==0.9.1
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
Flask-Script==2.0.6
fonttools==3.38.0
GitPython==2.1.11
Jinja2==2.10.1
langid==1.1.6
lxml==4.6.2
pytest==3.8.0
pytest-flask==0.12.0
pytest-sugar==0.9.1
pyppeteer==0.0.24
python-arango==4.4.0
regex==2018.8.29
requests==2.21.0
sortedcontainers==2.0.5
Sphinx==1.8.0
sphinxcontrib-websupport==1.1.0
stripe==2.55.1
termcolor==1.1.0
tqdm==4.26.0
uWSGI==2.0.17.1
Werkzeug==0.15.3
Flask-Caching==1.4.0
aksharamukha==1.8.1
