decorator==4.4.2
EbookLib==0.17.1
elasticsearch==7.10.1
Faker==6.0.0
flasgger==0.9.5
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
Flask-Script==2.0.6
fonttools==4.19.1
GitPython==3.1.12
Jinja2==2.11.3
langid==1.1.6
lxml==4.6.2
pytest==6.2.2
pytest-flask==1.1.0
pytest-sugar==0.9.4
pyppeteer==0.2.5
python-arango==6.1.0
regex==2020.11.13
requests==2.25.1
sortedcontainers==2.3.0
Sphinx==3.4.3
sphinxcontrib-websupport==1.2.4
stripe==2.55.1
termcolor==1.1.0
tqdm==4.56.0
uWSGI==2.0.19.1
Werkzeug==1.0.1
Flask-Caching==1.9.0
aksharamukha==1.8.1
