.textcontent h1 {
  font-size: 2em;
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
  color: #767676;
  text-align: center;
  letter-spacing: .02em;
  margin: 0;
  line-height: 1em;
  font-weight: normal;
}

.textcontent p {
  margin-bottom: .75em;
  margin-top: 0;
}

.textcontent section {
  margin: 6em auto 0!important;
  padding: 0 5%!important;
  max-width: 40em;
  display: block; 
}
